body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-css{
  background-color: blueviolet;
}
@media (max-width: 991.98px){
.register-css{
  background: hsla(0, 0%, 100%, 0.55);
  backdrop-filter: blur(30px);

  
}}

.cascading-right{
  margin-right: 0;
}

.cascading-right{
  margin-right: -50px;
}